body,html{
    font-family: Arial, Helvetica, sans-serif;
}
.top-header {
    background-color: #070606;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight:600;
    font-size:14px;
    border-bottom:black solid 1px;
}
.top-header:hover {
    cursor: pointer;
    
}
.main-header {
    display: flex;
   height:70px;
   justify-content: space-between;
   border-bottom-style: solid;
   border-bottom-color: black;  
   border-bottom-width: 1px;
   margin-bottom:15px;
}

.left{
  
   display:flex;
   align-items: center;
}
.menu{
    height:35px;
    margin-left: 20px;
}

.logo{
    height: 35px;
    
}
.center{
    flex:1;
    display:flex;
    align-items: center;
     margin-left:200px;
     margin-right: 200px;
}
.search-input {
    flex:1;
    height: 50px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 17px;
}
.search-button{
    height:50px;
   background-color: black;
    border:none;
   margin-left:-1px;
   width:50px;

}
.search-icon{
    filter:invert(1);
    height:35px;
    margin-top: 4px;

}
.right{

    display:flex;
    gap:10px;
    align-items: center;
    margin-right:10px;
}

.right p{
    margin:0;
    font-size: 17px;
    color: black;
}
.spark{
    height:30px;
    margin-left: 10px;

}
.save{
    height:30px;
}
.emptybag{
    height:30px;
    margin-left: 20px;
}

.hero{
    position: relative;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;

}
.hero-text {
    color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    
}

.hero img:hover {
    cursor: pointer;
     transform: scale(1.02);
}

.top-picks {
    padding: 50px  40px;
}

.top-picks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.top-picks-header h2 {
    margin: 0;
    font-size: 28px;
    color: black;
}

.top-picks-header h3 {
    font-family: sans-serif;
    margin: 5px 0 0 0;
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.shop-link {
    display: flex;
    align-items: center;
    gap: 15px;

}

.shop-link a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.shop-link .arrows button {
    background: none;
   border:none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.shop-link .arrows button:hover {
    cursor:pointer;
}

.top-picks-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    
}

.product-card {
    flex: 0 0 auto;
    width: 220px;
   
}

.product-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.product-card h4 {
    margin: 10px 0 5px 0 ;
    font-size: 16px;
    color: black;
}

.product-card p {
    margin: 0;
    font-size: 14px;
    color: black;
}
.product-card p:hover {
   cursor:pointer;
   text-decoration: underline;
}

.category{
    max-width: 1070px;
    display:flex;
    gap:100px;
    margin-right: 50px;
    margin-left:50px;
}
.category-card{
   position:relative;
    width:300px;
}
.category-card img {
    width: 130%;
    object-fit: cover;
    display:block;
    transition: transform 0.1s ease;
}
.category-card:hover img {
    transform: scale(1.02);
}

.category-card h4{
    position: absolute;   
    left: 15px;
    color: white;
    bottom:30px;
    font-size:27px;
    white-space: nowrap;

}
.category-card p{
    position: absolute;  
    left: 15px;
    color: white;
    bottom:10px;
    font-size: 20px;
}
.newsletter h4{
    padding-top:20px;
    text-align: center;
    font-size: 20px;
    color: black;
font-weight: normal;
}
.newsletter p{
    text-align: center;
    font-size: 16px;
    color: black;
    max-width:600px;
    margin: 0 auto;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    gap:10px;
}
.newsletter-form input{
    padding: 12px;
    font-size: 14px;
    width: 450px;
    box-sizing: border-box;
}
.newsletter-form button {
    padding: 14px;
    width:120px;
    font-size: 16px;
    border:none;
    background-color: black;
    color: white;
}

.bottom-row{
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    border-top-style:solid;
    border-top-color: black;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    align-items: center;
}

footer{
    background-color: #f2f2f2;
    width: 100%;
    margin:0;
}


.grey-parent{

    display:flex;
    justify-content: space-between;
     padding-left: 100px;
     padding-right: 100px;
     padding-top:30px;
}
.ways-to-pay{
     display: flex;
    flex-direction: column;
   
}
.payment-icons {
  display: flex;                 
  gap: 30px;                    
}
.ways-to-pay img{
    height: 20px;
    
}
.ways-to-pay p{
    font-size: 20px;
    color: black;
    text-align: center;

}
.spread-cost{
    display: flex;
    flex-direction: column;
}

.spread-cost p{
    font-size: 20px;
    color: black;
    text-align: center;
}
.spread-cost img{
    height: 15px;
}
.button-icon{
    padding-top:9px;
    padding-bottom: 9px;
    margin:10px;
    border-color:#ccc;;
    border-width: 0.01px ;
    border-style: solid;
}
.footer-links {
  display: flex;
  justify-content: space-between;
   padding-left: 100px;
     padding-right: 100px;
 gap:30px;
  margin-top: 40px;
  
}
.footer-links p{
    margin-bottom: 15px;
}
.footer-links span{
    font-size: 22px;
    margin-bottom: 18px;
}
.footer-links p:hover{
    cursor: pointer;    
    text-decoration: underline;
}
.uk-icons{
    display: flex;
    justify-content: center;
    gap:8px;
    padding-bottom:20px;
}
.black-footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.black-footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 40px;
    border-bottom: 1px solid white;
    gap: 100px;
}
.social-icons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.social-icons img {
    height: 40px;
}
.download-bttns{
    display: flex;
    gap: 15px;
    align-items: center;
}
.download-btn {
    background-color: black;
    border: none;
    cursor: pointer;
}
.download-btn img {
    height: 35px;

}
.black-footer-bottom{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 40px;
    gap:12px;
}